<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>페이지를 찾을 수 없습니다</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/cinema_error.css}" href="../../static/css/cinema_error.css">
</head>
<body>
    <div class="wrap">
        <div class="header">
            <h1><a href="/mini">Mini 시네마</a></h1>
        </div>
        <div>
            <h3>요청하신 페이지를 찾을 수 없습니다</h3>
            <p>요청하신 페이지의 주소가 잘못되었거나 변경되어 페이지를 찾을 수 없습니다</p>
            <br>
            <a href="/mini" class="home">홈으로 이동하기</a>
        </div>
    </div>
</body>
</html>