<!DOCTYPE html>
<html th:replace="~{view/layout/base :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mini 시네마</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/cinema.css">
</head>
<body>
    <section>
        <div class="payment_container">
            <div>
                <div class="group_info" >
                    <img class="screening_img" th:src="@{https://image.tmdb.org/t/p/original/__${screeningInfo.posterPath}__}"
                         th:alt="${screeningInfo.title}">
                    <div class="screening_info_wrap">
                        <strong class="movieTitle" th:text="${screeningInfo.title}"></strong><br>
                        <span th:text="${#temporals.format(screeningInfo.getStartTime(), 'yyyy-MM-dd')}">날짜</span>
                        <span>
                            <a th:text="${#temporals.format(screeningInfo.getStartTime(), 'HH:mm')}"></a> ~
                            <a th:text="${#temporals.format(screeningInfo.getEndTime(), 'HH:mm')}"></a>
                        </span>
                        <span th:text="${screeningInfo.theaterName}">상영관 번호</span>
                        <span>인원 : <a th:text="${totalPersonNum}"></a> 명</span>
                    </div>
                </div>
                <div class="select-seat">
                    <strong>좌석 : </strong>
                    <strong th:text="${selectedSeats}"></strong>
                </div>
            </div>
            <div class="payment_wrap">
                <div class="membership_discount">
                    <span th:if="${paymentInfo.memberGrade} == 'BRONZE'"><img class="membership_image" th:src="@{/image/bronze.png}" th:alt="브론즈"></span>
                    <span th:if="${paymentInfo.memberGrade} == 'GOLD'"><img class="membership_image" th:src="@{/image/gold.png}" th:alt="골드"></span>
                    <span th:if="${paymentInfo.memberGrade} == 'PLATINUM'"><img class="membership_image" th:src="@{/image/platium.png}" th:alt="플래티넘"></span>
                    <span th:if="${paymentInfo.memberGrade} == 'DIA'"><img class="membership_image" th:src="@{/image/dia.png}" th:alt="다이아"></span>
                    <div>
                        <strong> 멤버쉽 등급 </strong>
                        <strong th:text="${paymentInfo.memberGrade}"> </strong>
                    </div>
                    <strong> <a th:text="${paymentInfo.discountPercent}"></a>% 할인 </strong>
                </div>
                <div class="pay_info">
                    <strong>상품 금액</strong>
                    <strong> <a th:text="${paymentInfo.originPrice}"></a> 원 </strong>
                </div>
                <div class="pay_info">
                    <strong>할인 금액</strong>
                    <strong> <a th:text="${paymentInfo.discountPrice}"></a> 원 </strong>
                </div>
                <div class="pay_info">
                    <strong>결제 금액</strong>
                    <strong> <a th:text="${paymentInfo.totalPrice}"></a> 원 </strong>
                </div>
                <div id="payment_btn"><strong>결제 버튼</strong></div>
            </div>
        </div>
    </section>
</body>
</html>

<script th:inline="javascript">
    document.getElementById('payment_btn').addEventListener('click',function (){
        let totalPrice = [[${paymentInfo.totalPrice}]];
        let screeningId = [[${screeningInfo.screeningId}]];
        let originPrice = [[${paymentInfo.originPrice}]];
        let discountPrice = [[${paymentInfo.discountPrice}]];
        let selectedSeatIds = [[${seatIds}]];
        let totalPersonNum = [[${totalPersonNum}]];
        let dataToSend = {
            originPrice: originPrice,
            discountPrice : discountPrice,
            totalPrice: totalPrice,
            screeningId: screeningId,
            selectedSeatIds : selectedSeatIds,
            totalPersonNum : totalPersonNum
        };

    axios.post('/reservation/payment', dataToSend)
        .then(function(response) {
            if(response.status === 200){
                alert('성공적으로 예약되었습니다');
                window.location.href = '/';
            }
        })
        .catch(function(error) {
            if(error.response && error.response.status === 409){
                alert('중복된 좌석이 있습니다 다시 예약해주세요');
                window.location.href = '/reservation';
            }
        });
    });
</script>