<!DOCTYPE html>
<html th:replace="~{view/layout/base :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mini 시네마</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/cinema.css">
</head>
<body>
    <section>
        <div class="reserve_container">
            <div class="wrap_reserve">
                <div>
                    <div class="reserve_toplogo">
                        <h4 id="selected_movie">선택한 영화</h4>
                    </div>
                    <div>
                        <div class="movie_scroll">
                            <ul class="movie_scroll_ul" id="scroll_movie_list">
                                <li th:each="movie : ${playingMovieDtos}" class="movie_item" th:data-id="${movie.movieId}">
                                    <div class="reserve_content_box">
                                        <div class="reserve_content_img_wrap">
                                            <img th:src="@{https://image.tmdb.org/t/p/original/__${movie.posterPath}__}" class="reserve_content_img" alt="파묘">
                                        </div>
                                        <div class="reserve_content_info">
                                            <strong class="reserve_content_tit" th:text="${movie.title}"></strong>
                                            <span>상영 시간 : <a>130분</a></span>
                                            <span>평점 : <a th:text="${movie.getGrade()}"></a></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="reserve_toplogo">
                        <h4 id="selected-date">선택한 날짜</h4>
                    </div>
                    <div>
                        <div class="reserve_screening_info">
                            <div class="reserve-date-wrap">
                                <div id="top_logo"></div>
                                <button id="prevWeekBtn" onclick="updateWeek(-1)">&lt;</button>
                                <div id="weekDates"></div>
                                <button id="nextWeekBtn" onclick="updateWeek(1)">&gt;</button>
                            </div>
                            <div class="reserve_theater_wrap">
                                <div class="time_select">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

<script th:inline="javascript">
    let currentDate = new Date();
    currentDate.setHours(0,0,0,0);
    let checked_date = null;
    let checked_movieId = null;
    let checked_screening = null;
    function updateWeek(shift = 0) {
        let today = new Date();
        today.setHours(0,0,0,1);
        currentDate.setDate(currentDate.getDate() + shift * 7);

        let nextMonth = new Date(today.getFullYear(), today.getMonth()+2, 0);

        document.getElementById('prevWeekBtn').disabled = currentDate < today;
        document.getElementById('nextWeekBtn').disabled = currentDate >= nextMonth;

        let weekDates = '';
        let lastMonth = null;
        const daysOfWeek = ['일','월','화','수','목','금','토'];
        const oneDay = 24 * 60 * 60 * 1000; // 하루의 밀리초
        for (let i = 0; i < 7; i++) {
            const day = new Date(currentDate.valueOf() + i * oneDay);
            const month = day.getMonth();
            const dayOfWeek = daysOfWeek[day.getDay()];

            if(lastMonth !== null && month !== lastMonth){
                weekDates += `<div>
                            <h5>${day.getFullYear()}</h5>
                            ${day.toLocaleDateString('ko-KR',{month : 'long'})}
                          </div>`;
            }
            weekDates += `<div class="day-item" data-date="${day.getFullYear()}-${day.getMonth()+1}-${day.getDate()}">
                            <h5>${day.getDate()}</h5>
                            ${dayOfWeek}
                      </div>`;

            lastMonth = month;
        }
        document.getElementById('weekDates').innerHTML = weekDates;
        addClickEventToDays();
    }
    // function updateWeek(shift = 0) {
    //     let today = new Date();
    //     today.setHours(0,0,0,0);
    //
    //     const oneDay = 24 * 60 * 60 * 1000;
    //     const dayOfWeek = currentDate.getDay();
    //     const startOfWeek = new Date(currentDate.valueOf() - dayOfWeek * oneDay);
    //     startOfWeek.setDate(startOfWeek.getDate()+ shift * 7);
    //
    //     let nextMonth = new Date(today.getFullYear(), today.getMonth()+2, 0);
    //     document.getElementById('prevWeekBtn').disabled = startOfWeek < today;
    //     document.getElementById('nextWeekBtn').disabled = startOfWeek >= nextMonth;
    //
    //     let weekDates = '';
    //     let lastMonth = null;
    //     const daysOfWeek = ['일','월','화','수','목','금','토'];
    //     for (let i = 0; i < 7; i++) {
    //         const day = new Date(startOfWeek.valueOf() + i * oneDay);
    //         const month = day.getMonth();
    //         const dayOfWeek = daysOfWeek[day.getDay()];
    //
    //         if(lastMonth !== null && month !== lastMonth){
    //             weekDates += `<div>
    //                             <h5>${day.getFullYear()}</h5>
    //                             ${day.toLocaleDateString('ko-KR',{month : 'long'})}
    //                           </div>`;
    //         }
    //         weekDates += `<div class="day-item" data-date="${day.getFullYear()}-${day.getMonth()+1}-${day.getDate()}">
    //                             <h5>${day.getDate()}</h5>
    //                             ${dayOfWeek}
    //                       </div>`;
    //
    //         lastMonth = month;
    //     }
    //     document.getElementById('weekDates').innerHTML = weekDates;
    //     currentDate = startOfWeek;
    //
    //     addClickEventToDays();
    // }

    function addClickEventToDays() {
        const dayItems = document.querySelectorAll('#weekDates > div.day-item');
        dayItems.forEach(item => {
            item.addEventListener('click', function (){
                const isAlreadyChecked = this.classList.contains('checked-date');
                const timeSelectDiv = document.querySelector('.time_select');
                timeSelectDiv.innerHTML=``;
                dayItems.forEach(item => {
                    item.classList.remove('checked-date');
                    let selected_date = document.querySelector('#selected-date');
                    selected_date.innerText = '선택한 날짜';
                    checked_date=null;
                });

                if (!isAlreadyChecked) {
                    this.classList.add('checked-date');
                    let selected_date = document.querySelector('#selected-date');
                    selected_date.innerText = this.getAttribute('data-date');
                    checked_date = this.getAttribute('data-date');
                    checkSelectionAndSend();
                }
            });
        });
    }

    document.addEventListener('DOMContentLoaded', function() {
        const movieItems = document.querySelectorAll('.movie_item');
        movieItems.forEach(item => {
            item.addEventListener('click', function() {
                const timeSelectDiv = document.querySelector('.time_select');
                timeSelectDiv.innerHTML=``;

                const isAlreadyChecked = this.classList.contains('checked');

                movieItems.forEach(item => {
                    item.classList.remove('checked');
                    if(item.lastElementChild.classList.contains('check-mark')){
                        item.removeChild(item.lastElementChild);
                        let selected_title = document.querySelector('#selected_movie');
                        selected_title.innerText = '선택한 영화'
                        checked_movieId=null;
                    }
                });

                if (!isAlreadyChecked) {
                    this.classList.add('checked');

                    const checkDiv = document.createElement('div');
                    checkDiv.classList.add('check-mark');
                    this.appendChild(checkDiv);
                    let selected_title = document.querySelector('#selected_movie');
                    selected_title.innerText = this.querySelector('.reserve_content_tit').innerText;
                    checked_movieId = this.getAttribute('data-id');
                    checkSelectionAndSend();
                }
            });
        });
    });

    function checkSelectionAndSend(){
        if(checked_movieId && checked_date){
            axios.get('/reservation/screening',{
                params: {
                    movieId: checked_movieId,
                    selectedDate: checked_date
                }
            })
                .then(function (response){
                    const screeningList = response.data;
                    const timeSelectDiv = document.querySelector('.time_select');
                    timeSelectDiv.innerHTML=``;
                    if(screeningList.length===0){
                        timeSelectDiv.innerHTML=`<div style="text-align: center"><h4>조회 가능한 상영 시간이 없습니다</h4></div>`;
                    }
                    screeningList.forEach(screeningDto => {
                        const ul = document.createElement('ul');
                        const span = document.createElement('span');
                        span.innerText = `${screeningDto.theaterName}`;
                        screeningDto.screenings.forEach(screening => {
                            const a = document.createElement('a');
                            a.role='button';
                            a.onclick = function (){
                                checked_screening = screening.screeningId;
                                sendData();
                            };
                            a.className = 'time_btn';
                            const li = document.createElement('li');
                            const strong = document.createElement('strong');
                            const reserveTimeDiv = document.createElement('div');
                            reserveTimeDiv.className = 'reserve_time';

                            const startTime = new Date(screening.startTime);
                            strong.textContent = `${startTime.getHours()}:${startTime.getMinutes()}`;
                            reserveTimeDiv.innerHTML = `<span>${screening.remainSeat}/${screening.maxSeat}</span><span>${screeningDto.theaterName}</span>`;
                            a.appendChild(strong);
                            a.appendChild(reserveTimeDiv);
                            li.appendChild(a);
                            ul.appendChild(li);
                        });
                        timeSelectDiv.appendChild(span);
                        timeSelectDiv.appendChild(ul);
                    });
                })
                .catch(function (error){
                    console.log(error)
                });
        }
    }



    function sendData() {
        let form = document.createElement('form');
        form.method = 'POST';
        form.action = '/reservation/seat';

        let inputScreening = document.createElement('input');
        inputScreening.type = 'hidden';
        inputScreening.name = 'screeningId';
        inputScreening.value = checked_screening;
        form.appendChild(inputScreening);
        document.cookie = "ticketing=true"

        document.body.appendChild(form);
        form.submit();
    }

    window.onload = function() {
        updateWeek();
    };

    document.addEventListener('DOMContentLoaded', function() {
        updateWeek();
    });


</script>