<!DOCTYPE html>
<html th:replace="~{view/layout/base :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mini 시네마</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/cinema.css">
</head>
<body>
<section>
    <div class="seat_container">
        <div class="select_num_people">
            <div>
                <div class="group_info">
                    <img class="screening_img" th:src="@{https://image.tmdb.org/t/p/original/__${screeningInfo.posterPath}__}" alt="test">
                    <div class="screening_info_wrap">
                        <strong class="movieTitle" th:text="${screeningInfo.title}"></strong><br>
                        <span th:text="${#temporals.format(screeningInfo.getStartTime(), 'yyyy-MM-dd')}">날짜</span>
                        <span>
                            <a th:text="${#temporals.format(screeningInfo.getStartTime(), 'HH:mm')}"></a> ~
                            <a th:text="${#temporals.format(screeningInfo.getEndTime(), 'HH:mm')}"></a>
                        </span>
                        <span th:text="${screeningInfo.theaterName}">상영관 번호</span>
                    </div>
                </div>
            </div>
            <div class="count_people">
                <strong>인원 수</strong>
                <div class="people_num_box">
                    <button id="plus">
                        <span>
                                +
                        </span>
                    </button>
                    <span id="person">0</span>
                    <button id="minus">
                        <span>
                                -
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div style="display:flex; justify-content: center; margin-top: 100px; border-top: black solid 1px;" >
            <div style="width: 370px">
                <div style="background: #999999; text-align: center">
                    <span style="background: gray">screen</span>
                </div>

                <div style="padding-top: 50px">
                    <ul style="display: flex; list-style: none; gap: 1px; padding-left: 0; justify-content: center">
                        <li>
                            <button style="background: #8e8e8e">1</button>
                        </li>
                        <li>
                            <button style="background: #8e8e8e">1</button>
                        </li>
                        <li>
                            <button style="background: #8e8e8e">1</button>
                        </li>
                        <li>
                            <button style="background: #8e8e8e">1</button>
                        </li>
                        <li>
                            <button style="background: #8e8e8e">1</button>
                        </li>
                        <li>
                            <button style="background: #8e8e8e">1</button>
                        </li>
                    </ul>
                    <ul style="display: flex; list-style: none; gap: 1px; padding-left: 0; justify-content: center">
                        <li>
                            <button style="background: #8e8e8e">1</button>
                        </li>
                        <li>
                            <button style="background: #8e8e8e">1</button>
                        </li>
                        <li>
                            <button style="background: #8e8e8e">1</button>
                        </li>
                        <li>
                            <button style="background: #8e8e8e">1</button>
                        </li>
                        <li>
                            <button style="background: #8e8e8e">1</button>
                        </li>
                        <li>
                            <button style="background: #8e8e8e">1</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function (){
        const plus = document.querySelector('#plus');
        const minus = document.querySelector('#minus');
        let person = document.querySelector('#person');
        plus.addEventListener('click',function (){
            if (parseInt(person.innerText)>3){
                alert('4명까지만 예약할 수 있습니다');
            }
            else{
                person.innerText = parseInt(person.innerText)+1;
            }
        })
        minus.addEventListener('click',function (){
            if (parseInt(person.innerText)>0){
                person.innerText = parseInt(person.innerText)-1;
            }
        })
    })
</script>
