<!DOCTYPE html>
<html th:fragment="layout (title, content, loginMember)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/cinema.css}">
</head>
<body>
<div class="parent">
    <div class="child">
        <h1><a href="/mini">Mini 시네마</a></h1>
    </div>
    <div th:text="${loginMember != null} ? 'User is logged in' : 'User is not logged in'"></div>
    <div>
        <ul class="header_ul right" >
            <li class="li_margin"><a th:onclick="|location.href='/member/login'|">로그인</a></li>
            <li><a href="">회원가입</a></li>
        </ul>
    </div>
    <div>
        <ul class="nav">
            <li><a href="">검색</a></li>
            <li><a href="">예매</a></li>
            <li><a href="">영화</a></li>
            <li><a href="">혜택</a></li>
        </ul>
    </div>
</div>
<div th:replace="${content}">
</div>
<div th:replace="~{view/layout/footer :: footer}">
</div>
</body>
</html>