<!DOCTYPE html>
<html th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}">Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/cinema.css}">
</head>
<body>
<div class="parent">
    <div class="child">
        <h1><a href="/">Mini 시네마</a></h1>
    </div>
    <div th:text="${session.mySessionId != null} ? 'User is logged in' : 'User is not logged in'"></div>
    <div>
        <ul class="header_ul right" >

            <li th:if="${session.mySessionId == null}" class="li_margin"><a th:onclick="|location.href='/member/login'|">로그인</a></li>
            <li th:unless="${session.mySessionId == null}" class="li_margin">
                <form th:action="@{/member/logout}" method="post">
                    <button class="logout_button" type="submit" style="font-size: 16px">로그아웃</button>
                </form>
            </li>
            <li th:if="${session.mySessionId == null}"><a th:onclick="|location.href='/member/join'|">회원가입</a></li>
            <li th:unless="${session.mySessionId == null}"><a th:onclick="|location.href='/mypage/payment'|">마이페이지</a></li>
        </ul>
    </div>
    <div>
        <ul class="nav">
            <li><a href="">검색</a></li>
            <li><a href="">예매</a></li>
            <li><a href="">영화</a></li>
            <li><a th:onclick="|location.href='/membership'|">혜택</a></li>
        </ul>
    </div>
</div>
<div th:replace="${content}">
</div>
<div th:replace="~{view/layout/footer :: footer}">
</div>
</body>
</html>