<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../../static/css/cinema.css">
    <title>Title</title>
</head>
<body>
<div th:fragment="mynavbar">
    <div class="mypage_nav_wrap">
        <ul class="mypage_nav_ul">
            <li>
                <a th:onclick="|location.href='/mypage/payment'|"><span>결제내역</span></a>
            </li>
            <li>
                <a th:onclick="|location.href='/mypage/memberinfo'|"><span>내 정보 변경</span></a>
            </li>
            <li>
                <a th:onclick="|location.href='/mypage/membership'|"><span>내 혜택 정보</span></a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>