.wrap{
    width: 560px;
    _height: 618px;
    min-height: 618px;
    margin: 0 auto;
    text-align: left;
}
.header{
    position: relative;
    height: 80px;
}
.header a{
    text-decoration: none;
    color:black;
}

.home{
    border-width: 1px;

}
