<!DOCTYPE html>
<html th:replace="~{view/layout/base :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/cinema.css">
</head>
<body>
<section>
    <div>
        <div th:replace="~{view/layout/mynav::mynavbar}">
        </div>
    </div>
    <div class="my_info_box">
        <h2>내 정보</h2>

        <div class="profile_tit">
            <span><b>프로필 정보</b></span>
            <a th:href="@{/member/updateprofile}">
                <button class="info_update_btn">프로필 변경</button>
            </a>
        </div>
        <ul>
            <li>
                <div class="my_info_item">
                    <strong>ID</strong>
                    <strong th:text="${loginMember.getLoginId()}">멤버 아이디</strong>
                </div>
            </li>
            <li>
                <div class="my_info_item">
                    <strong>이름</strong>
                    <strong th:text="${loginMember.getName()}">멤버 이름</strong>
                </div>
            </li>
            <li>
                <div class="my_info_item">
                    <strong>이메일</strong>
                    <strong th:text="${loginMember.getEmail()}">멤버 이메일</strong>
                </div>
            </li>
            <li style="border-bottom: none">
                <div class="my_info_item">
                    <strong>생년월일</strong>
                    <strong th:text="${#dates.format(loginMember.getBirth(), 'yyyy-MM-dd')}">멤버 생년월일</strong>
                </div>
            </li>
        </ul>
        <div class="security_box">
            <span><b>보안 설정</b></span>
            <div class="security_item">
                <strong>비밀번호</strong>
                <a th:href="@{/member/updatepassword}">
                    <button class="info_update_btn">변경</button>
                </a>
            </div>
        </div>
    </div>
</section>
</body>
</html>