<!DOCTYPE html>
<html th:replace="~{view/layout/base :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/cinema.css">
</head>
<body>
<section>
    <div>
        <div th:replace="~{view/layout/mynav::mynavbar}">
        </div>
    </div>
    <div class="my_benefit_box">
        <div>
            <span class="my_grade">test</span>
            <p><strong class="my_name" >이름</strong>님 반갑습니다</p>
            <div class="my_next_rank">
                <p>다음랭크 까지 남은 예매 횟수
                    <em class="remain_count">X</em> 회
                </p>
            </div>
        </div>
        <div>
            <div class="rank_progress_wrap">
                <ul class="rank_progress_ul">
                    <li>
                        <img class="cur_rank_img" alt="브론즈">
                    </li>
                    <li>
                        <img class="next_rank_img" alt="골드">
                    </li>
                </ul>
                <progress class="rank_progress_bar" value="" max=""></progress>
                <ul class="rank_progress_ul">
                    <li>
                        <span><em class="cur_count">0</em></span>
                    </li>
                    <li>
                        <span><em class="max_count">10</em></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
</body>
</html>
<script th:inline="javascript">
    window.addEventListener('DOMContentLoaded', async () => {
        try {
            const response = await axios.get('/mypage/membershipinfo');
            const memberGrade = response.data.memberGrade;
            const memberName = response.data.name;
            const reserveCount = response.data.totalReserveCount;
            let myGrade = document.querySelector('.my_grade');
            let myName = document.querySelector('.my_name');
            let remainCount = document.querySelector('.remain_count');
            let progressbar = document.querySelector('.rank_progress_bar');
            let curRankImg = document.querySelector('.cur_rank_img');
            let nextRankImg = document.querySelector('.next_rank_img');
            let curCount = document.querySelector('.cur_count');
            let maxCount = document.querySelector('.max_count');
            if(memberGrade.toString() === 'BRONZE'){
                myGrade.textContent = memberGrade;
                myName.textContent = memberName;
                remainCount.textContent = `${10-reserveCount}`;
                progressbar.value = reserveCount;
                progressbar.max = 10;
                curRankImg.src = '/image/bronze.png';
                nextRankImg.src = '/image/gold.png';
                curCount.textContent = reserveCount;
                maxCount.textContent = String(10);
            }
            else if(memberGrade.toString() === 'GOLD'){
                myGrade.textContent = memberGrade;
                myName.textContent = memberName;
                remainCount.textContent = `${30-reserveCount}`;
                progressbar.value = reserveCount;
                progressbar.max = 30;
                curRankImg.src = '/image/gold.png';
                nextRankImg.src = '/image/platium.png';
                curCount.textContent = reserveCount;
                maxCount.textContent = String(30);
            }
            else if(memberGrade.toString() === 'PLATINUM'){
                myGrade.textContent = memberGrade;
                myName.textContent = memberName;
                remainCount.textContent = `${50-reserveCount}`;
                progressbar.value = reserveCount;
                progressbar.max = 50;
                curRankImg.src = '/image/platium.png';
                nextRankImg.src = '/image/diamond.png';
                curCount.textContent = reserveCount;
                maxCount.textContent = String(50);
            }

            else if(memberGrade.toString() === 'DIA'){
                myGrade.textContent = memberGrade;
                myName.textContent = memberName;
                remainCount.textContent = '최고 등급입니다';
                progressbar.value = 30;
                progressbar.max = 30;
                curRankImg.src = '/image/diamond.png';
                nextRankImg.src = '/image/diamond.png';
                curCount.textContent = 'max';
                maxCount.textContent = 'max';
            }
        } catch (error) {
            console.error('Error:', error);
        }
    });
</script>