<!DOCTYPE html>
<html th:replace="~{view/layout/base :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>비밀번호 변경</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/cinema.css">
</head>
<body>
    <section>
        <div class="pw_update_container">
            <div class="pw_update_content">
                <div class="pw_update_inner">
                    <div>
                        <h2>비밀번호 변경</h2>
                        <p>안전한 비밀번호를 사용하는것을 권장합니다</p>
                        <p>사용하던 비밀번호와 달라야합니다</p>
                    </div>
                    <div class="pw_update_inputwrap">
                        <form th:action method="post" th:object="${passwordUpdateDto}">
                            <div>
                                <span class="join_box">
                                    <label for="pw">
                                        <input type="password" id="pw" class="join_int" th:field="*{curPassword}" placeholder="현재 비밀번호" maxlength="20">
                                    </label>
                                </span>
                                <span><strong th:errors="*{curPassword}"></strong></span>

                            </div>
                            <div class="pw_update_new">
                                <span class="join_box">
                                    <label for="new_pw">
                                        <input type="password" id="new_pw" class="join_int" th:field="*{newPassword}" placeholder="새 비밀번호" maxlength="20">
                                    </label>
                                </span>
                                <span><strong th:errors="*{newPassword}"></strong></span>
                                <span class="join_box">
                                    <label for="new_pw_re">
                                        <input id="new_pw_re" type="password" class="join_int" th:field="*{reNewPassword}" placeholder="새 비밀번호 확인" maxlength="20">
                                    </label>
                                </span>
                                <span><strong th:errors="*{reNewPassword}"></strong></span>
                            </div>
                            <strong th:if="${#fields.hasGlobalErrors()}"  th:each="err : ${#fields.globalErrors()}" th:text="${err}"></strong>
                            <div class="btn_ch_pw_wrap">
                                <button type="submit" class="btn_ch_pw">
                                    <span class="btn_text">변경하기</span>
                                </button>
                            </div>
                        </form>
                        <div class="btn_cancel_pw_wrap">
                            <button th:onclick="|location.href='/mypage/memberinfo'|" class="btn_cancel_pw">
                                <span class="btn_text">취소</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>