<!DOCTYPE html>
<html th:replace="~{view/layout/base :: layout(~{::title}, ~{::section},~{::link}, ${session.mySessionId})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mini 시네마</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/cinema.css}">
</head>
<body>
    <section class="root">
        <div class="content_wrap">
            <div class="category">
                <div class="category_logo">
                    <h2>최신 상영작</h2>
                </div>
                <div class="movieChart">
                    <!--영화 포스터 + 제목 + 평점 + 예매-->
                    <div>
                        <div>
                            <img class="content_image" th:src="@{/image/test.jpeg}" alt="파묘">
                        </div>
                        <div>
                            <strong>파묘</strong></br>
                            <span>94%</span>
                            <span>예매율 40.9%</span>
                        </div>
                    </div>

                    <div>
                        <div>
                            <img class="content_image" th:src="@{/image/test.jpeg}" alt="파묘">
                        </div>
                        <div>
                            <strong>파묘</strong></br>
                            <span>94%</span>
                            <span>예매율 40.9%</span>
                        </div>
                    </div>

                    <div >
                        <div>
                            <img class="content_image" th:src="@{/image/test.jpeg}" alt="파묘">
                        </div>
                        <div>
                            <strong>파묘</strong></br>
                            <span>94%</span>
                            <span>예매율 40.9%</span>
                        </div>
                    </div>

                    <div >
                        <div>
                            <img class="content_image" th:src="@{/image/test.jpeg}" alt="파묘">
                        </div>
                        <div>
                            <strong>파묘</strong></br>
                            <span>94%</span>
                            <span>예매율 40.9%</span>
                        </div>
                    </div>

                    <div >
                        <div>
                            <img class="content_image" th:src="@{/image/test.jpeg}" alt="파묘">
                        </div>
                        <div>
                            <strong>파묘</strong></br>
                            <span>94%</span>
                            <span>예매율 40.9%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="category">
                <div class="category_logo">
                    <h2>인기 TOP 상영작</h2>
                </div>
                <div class="movieChart">
                    <!--영화 포스터 + 제목 + 평점 + 예매-->
                    <div >
                        <div>
                            <img class="content_image" th:src="@{/image/test.jpeg}" alt="파묘">
                        </div>
                        <div>
                            <strong>파묘</strong></br>
                            <span>94%</span>
                            <span>예매율 40.9%</span>
                        </div>
                    </div>

                    <div >
                        <div>
                            <img class="content_image" th:src="@{/image/test.jpeg}" alt="파묘">
                        </div>
                        <div>
                            <strong>파묘</strong></br>
                            <span>94%</span>
                            <span>예매율 40.9%</span>
                        </div>
                    </div>

                    <div >
                        <div>
                            <img class="content_image" th:src="@{/image/test.jpeg}" alt="파묘">
                        </div>
                        <div>
                            <strong>파묘</strong></br>
                            <span>94%</span>
                            <span>예매율 40.9%</span>
                        </div>
                    </div>

                    <div >
                        <div>
                            <img class="content_image" th:src="@{/image/test.jpeg}" alt="파묘">
                        </div>
                        <div>
                            <strong>파묘</strong></br>
                            <span>94%</span>
                            <span>예매율 40.9%</span>
                        </div>
                    </div>

                    <div >
                        <div>
                            <img class="content_image" th:src="@{/image/test.jpeg}" alt="파묘">
                        </div>
                        <div>
                            <strong>파묘</strong></br>
                            <span>94%</span>
                            <span>예매율 40.9%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>