<!DOCTYPE html>
<html lang="ko" th:replace="~{view/layout/base :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/css/cinema.css">
    <title>회원 가입</title>
</head>
<body>
    <section>
        <div class="join_container">
            <div class="join_content">
                <div class="join_inner">
                    <form th:action method="post" th:object="${memberRegisterDto}">
                    <div>
                        <h3>
                            <label for="id">아이디</label>
                        </h3>
                        <span class="join_box">
                            <input type="text" id="id" class="join_int" maxlength="20" th:field="*{loginId}">
                        </span>
                        <span><strong th:errors="*{loginId}"></strong></span>
                    </div>
                    <div>
                        <h3>
                            <label for="password">비밀번호</label>
                        </h3>
                        <span class="join_box">
                            <input type="password" class="join_int" id="password" maxlength="20" th:field="*{password}">
                        </span>
                        <span><strong th:errors="*{password}"></strong></span>
                    </div>
                    <div>
                        <h3>
                            <label for="re_password">비밀번호 재확인</label>
                        </h3>
                        <span class="join_box">
                            <input type="password" id="re_password" class="join_int" maxlength="20" th:field="*{rePassword}">
                        </span>
                        <span><strong th:errors="*{rePassword}"></strong></span>
                    </div>
                    <div>
                        <h3>
                            <label for="email">이메일</label>
                        </h3>
                        <span class="join_box">
                            <input type="text" id="email" class="join_int" maxlength="20" th:field="*{email}">
                        </span>
                        <span><strong th:errors="*{email}"></strong></span>
                    </div>
                    <div>
                        <h3>
                            <label for="name">이름</label>
                        </h3>
                        <span class="join_box">
                            <input type="text" id="name" class="join_int" maxlength="20" th:field="*{name}">
                        </span>
                        <span><strong th:errors="*{name}"></strong></span>
                    </div>
                    <div>
                        <h3>
                            <label for="year">생년월일</label>
                        </h3>

                        <div class="join_birth_wrap">
                            <div class="join_birth_year">
                                <span class="join_box">
                                    <input type="text" id="year" class="join_int" maxlength="4" placeholder="년" th:field="*{birthYear}">
                                </span>
                            </div>

                            <div class="join_birth_month">
                                <span class="join_box">
                                    <select th:field="*{birthMonth}">
                                        <option value="" th:disabled selected>월</option>
                                        <option th:each="month : ${#numbers.sequence(1, 12)}" th:value="${#numbers.formatInteger(month,2)}" th:text="${month}"></option>
                                    </select>
                                </span>
                            </div>

                            <div class="join_birth_day">
                                <span class="join_box">
                                    <select th:field="*{birthDay}">
                                        <option value="" th:disabled th:selected>일</option>
                                        <option th:each="day : ${#numbers.sequence(1, 31)}" th:value="${#numbers.formatInteger(day,2)}" th:text="${day}"></option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="join_btn_wrap">
                        <button type="submit" id="btnJoin" class="btn_login">
                            <span>가입하기</span>
                        </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>