<!DOCTYPE html>
<html th:replace="~{view/layout/base :: layout(~{::title}, ~{::section} ,~{::link}, ${session.mySessionId})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/cinema.css}">
    <title>로그인 페이지</title>
</head>
<body>
    <section>
        <div class="login_form">
            <div class="panel_wrap">
                <div class="panel_item" style="display: block;">
                    <div class="panel_inner">
                        <form class="form" action="home.html" th:action th:object="${loginDto}" method="post">
                            <div class="id_pw_wrap">
                                <div class="input_row">
                                    <label for="id" class="icon_cell">ID</label>
                                    <input type="text" placeholder="아이디" maxlength="41" value class="input_text" id="id" th:field="*{loginId}">
                                </div>
                                <div class="input_row">
                                    <label for="pw" class="icon_cell">PW</label>
                                    <input type="password" placeholder="비밀번호" class="input_text" maxlength="16" id="pw" th:field="*{password}">
                                </div>
                            </div>
                            <div>
                                <strong th:errors="*{loginId}">아이디를 입력해주세요</strong>
                                <strong th:unless="${#fields.hasErrors('loginId')}" th:errors="*{password}"></strong>
                                <strong th:if="${#fields.hasGlobalErrors()}"  th:each="err : ${#fields.globalErrors()}" th:text="${err}"></strong>
                            </div>
                            <div class="btn_login_wrap">
                                <button type="submit" class="btn_login">
                                    <span class="btn_text">로그인</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="find_wrap">
            <ul class="find_ul">
                <li>
                    아이디 찾기
                </li>
                <li>
                    비밀번호 찾기
                </li>
            </ul>
        </div>
    </section>
</body>
</html>