<!DOCTYPE html>
<html th:replace="~{view/layout/base :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mini 시네마</title>
</head>
<body>
<section>
    <div class="content_wrap">
        <div class="category">
            <div class="category_logo">
                <h2>로맨스 영화</h2>
            </div>
            <div class="movieChart">
                <div class="movieChartBox" th:each="movie : ${romanceMovieDtos}">
                    <a th:href="@{/movie/detail(mvid=${movie.movieId})}">
                        <img class="content_image" th:src="@{https://image.tmdb.org/t/p/original/__${movie.posterPath}__}" th:alt="*{movie.title}">
                    </a>
                    <strong class="movieTitle" th:text="${movie.title}"></strong></br>
                    <span>평점 : <a th:text="${movie.grade}"></a></span>
                </div>
            </div>
        </div>
        <div class="category">
            <div class="category_logo">
                <h2>액션 영화</h2>
            </div>
            <div class="movieChart">
                <div class="movieChartBox" th:each="movie : ${actionMovieDtos}">
                    <a th:href="@{/movie/detail(mvid=${movie.movieId})}">
                        <img class="content_image" th:src="@{https://image.tmdb.org/t/p/original/__${movie.posterPath}__}" th:alt="${movie.title}">
                    </a>
                    <strong class="movieTitle" th:text="${movie.title}"></strong></br>
                    <span>평점 : <a th:text="${movie.grade}"></a></span>
                </div>
            </div>
        </div>
        <div class="category">
            <div class="category_logo">
                <h2>애니메이션 영화</h2>
            </div>
            <div class="movieChart">
                <div class="movieChartBox" th:each="movie : ${animationMovieDtos}">
                    <a th:href="@{/movie/detail(mvid=${movie.movieId})}">
                        <img class="content_image" th:src="@{https://image.tmdb.org/t/p/original/__${movie.posterPath}__}" th:alt="${movie.title}">
                    </a>
                    <strong class="movieTitle" th:text="${movie.title}"></strong></br>
                    <span>평점 : <a th:text="${movie.grade}"></a></span>
                </div>
            </div>
        </div>
        <div class="category">
            <div class="category_logo">
                <h2>판타지 영화</h2>
            </div>
            <div class="movieChart">
                <div class="movieChartBox" th:each="movie : ${fantasyMovieDtos}">
                    <a th:href="@{/movie/detail(mvid=${movie.movieId})}">
                        <img class="content_image" th:src="@{https://image.tmdb.org/t/p/original/__${movie.posterPath}__}" th:alt="${movie.title}">
                    </a>
                    <strong class="movieTitle" th:text="${movie.title}"></strong></br>
                    <span>평점 : <a th:text="${movie.grade}"></a></span>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>