<!DOCTYPE html>
<html th:replace="~{view/layout/base :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mini 시네마</title>
</head>
<body>
    <section>
        <div class="detail_container">
            <img class="detail_image" th:src="@{/image/test.jpeg}" alt="파묘">
            <div class="detail_info_box">
                <div class="detail_title">
                    <strong>파묘</strong>
                </div>
                <div class="detail_grade">
                    <span>평점 :<a>10</a></span>
                </div>
                <div class="detail_info">
                    <span><b>줄거리 : </b><a>어쩌구저쩌구</a></span>
                    <span><b>장르 : </b><a>어쩌구 저쩌구</a></span>
                    <span><b>개봉일 : </b><a>2020-12-11</a></span>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
