<!DOCTYPE html>
<html th:replace="~{view/layout/base :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mini 시네마</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/cinema.css">
</head>
<body>
    <section>
        <div class="reserve_container">
            <div class="wrap_reserve">
                <div>
                    <div class="reserve_toplogo">
                        <h4 id="selected_movie">선택한 영화</h4>
                    </div>
                    <div>
                        <div class="movie_scroll">
                            <ul class="movie_scroll_ul" id="scroll_movie_list">
                                <li th:each="movie : ${playingMovieDtos}" class="movie_item" th:data-id="${movie.movieId}">
                                    <div class="reserve_content_box">
                                        <div class="reserve_content_img_wrap">
                                            <img th:src="@{https://image.tmdb.org/t/p/original/__${movie.posterPath}__}" class="reserve_content_img" alt="파묘">
                                        </div>
                                        <div class="reserve_content_info">
                                            <strong class="reserve_content_tit" th:text="${movie.title}"></strong>
                                            <span>상영 시간 : <a>130분</a></span>
                                            <span>평점 : <a th:text="${movie.getGrade()}"></a></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="reserve_toplogo">
                        <h4 id="selected-date">선택한 날짜</h4>
                    </div>
                    <div>
                        <div class="reserve_screening_info">
                            <div class="reserve-date-wrap">
                                <div id="top_logo"></div>
                                <button id="prevWeekBtn" onclick="updateWeek(-1)">&lt;</button>
                                <div id="weekDates"></div>
                                <button id="nextWeekBtn" onclick="updateWeek(1)">&gt;</button>
                            </div>
                            <div class="reserve_theater_wrap">
                                <div class="time_select">
<!--                                    <span> 상영관 이름 </span>-->
<!--                                    <ul> &lt;!&ndash; 상영관 별로 리스트&ndash;&gt;-->
<!--                                        <li>-->
<!--                                            <div>-->
<!--                                                <strong>20:20</strong>-->
<!--                                                <div class="reserve_time">-->
<!--                                                    <span>남은좌석/최대좌석</span>-->
<!--                                                    <span>1관</span>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </li>-->
<!--                                    </ul>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

<script th:inline="javascript">
    let currentDate = new Date();
    let checked_date = null;
    let checked_id = null;

    function updateWeek(shift = 0) {
        let today = new Date();
        today.setHours(0,0,0,0);

        const oneDay = 24 * 60 * 60 * 1000;
        const dayOfWeek = currentDate.getDay();
        const startOfWeek = new Date(currentDate.valueOf() - dayOfWeek * oneDay);
        startOfWeek.setDate(startOfWeek.getDate()+ shift * 7);

        let nextMonth = new Date(today.getFullYear(), today.getMonth()+2, 0);
        document.getElementById('prevWeekBtn').disabled = startOfWeek < today;
        document.getElementById('nextWeekBtn').disabled = startOfWeek >= nextMonth;

        let weekDates = '';
        let lastMonth = null;
        const daysOfWeek = ['일','월','화','수','목','금','토'];
        for (let i = 0; i < 7; i++) {
            const day = new Date(startOfWeek.valueOf() + i * oneDay);
            const month = day.getMonth();
            const dayOfWeek = daysOfWeek[day.getDay()];

            if(lastMonth !== null && month !== lastMonth){
                weekDates += `<div>
                                <h5>${day.getFullYear()}</h5>
                                ${day.toLocaleDateString('ko-KR',{month : 'long'})}
                              </div>`;
            }
            weekDates += `<div class="day-item" data-date="${day.getFullYear()}-${day.getMonth()+1}-${day.getDate()}">
                                <h5>${day.getDate()}</h5>
                                ${dayOfWeek}
                          </div>`;

            lastMonth = month;
        }
        document.getElementById('weekDates').innerHTML = weekDates;
        currentDate = startOfWeek;

        addClickEventToDays();
    }

    function addClickEventToDays() {
        const dayItems = document.querySelectorAll('#weekDates > div.day-item');
        dayItems.forEach(item => {
            item.addEventListener('click', function (){
                const isAlreadyChecked = this.classList.contains('checked-date');

                dayItems.forEach(item => {
                    item.classList.remove('checked-date');
                    let selected_date = document.querySelector('#selected-date');
                    selected_date.innerText = '선택한 날짜';
                    checked_date=null;
                });

                if (!isAlreadyChecked) {
                    this.classList.add('checked-date');
                    let selected_date = document.querySelector('#selected-date');
                    selected_date.innerText = this.getAttribute('data-date');
                    checked_date = this.getAttribute('data-date');
                    checkSelectionAndSend();
                }
            });
        });
    }

    document.addEventListener('DOMContentLoaded', function() {
        const movieItems = document.querySelectorAll('.movie_item');
        movieItems.forEach(item => {
            item.addEventListener('click', function() {

                const isAlreadyChecked = this.classList.contains('checked');

                movieItems.forEach(item => {
                    item.classList.remove('checked');
                    if(item.lastElementChild.classList.contains('check-mark')){
                        item.removeChild(item.lastElementChild);
                        let selected_title = document.querySelector('#selected_movie');
                        selected_title.innerText = '선택한 영화'
                        checked_id=null;
                    }
                });

                if (!isAlreadyChecked) {
                    this.classList.add('checked');

                    const checkDiv = document.createElement('div');
                    checkDiv.classList.add('check-mark');
                    this.appendChild(checkDiv);
                    let selected_title = document.querySelector('#selected_movie');
                    selected_title.innerText = this.querySelector('.reserve_content_tit').innerText;
                    checked_id = this.getAttribute('data-id');
                    checkSelectionAndSend();
                }
            });
        });
    });

    function checkSelectionAndSend(){
        if(checked_id && checked_date){
            axios.get('/reservation/test',{
                params: {
                    movieId: checked_id,
                    selectedDate: checked_date
                }
            })
                .then(function (response){
                    const screeningList = response.data;
                    const timeSelectDiv = document.querySelector('.time_select'); // 상영 정보를 추가할 부모 요소 선택
                    timeSelectDiv.innerHTML=``;
                    screeningList.forEach(screeningDto => {
                        const ul = document.createElement('ul'); // 상영관 별로 리스트 생성
                        const span = document.createElement('span');
                        span.innerText = `${screeningDto.theaterName}`;
                        screeningDto.screenings.forEach(screening => {
                            const li = document.createElement('li');
                            const div = document.createElement('div');
                            const strong = document.createElement('strong');
                            const reserveTimeDiv = document.createElement('div');
                            reserveTimeDiv.className = 'reserve_time';

                            // 날짜 및 시간 포맷팅
                            const startTime = new Date(screening.startTime);
                            strong.textContent = `${startTime.getHours()}:${startTime.getMinutes()}`;
                            reserveTimeDiv.innerHTML = `<span>${screening.remainSeat}/${screening.maxSeat}</span><span>${screeningDto.theaterName}</span>`;

                            div.appendChild(strong);
                            div.appendChild(reserveTimeDiv);
                            li.appendChild(div);
                            ul.appendChild(li);
                        });
                        timeSelectDiv.appendChild(span);
                        timeSelectDiv.appendChild(ul);
                    });
                })
                .catch(function (error){
                    console.log(error)
                });
        }
    }

    window.onload = function() {
        updateWeek();
    };

</script>