<!DOCTYPE html>
<html th:replace="~{view/layout/base :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mini 시네마</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/cinema.css">
</head>
<body>
<section>
    <div class="search_container">
        <form th:action="@{/movie/search}" method="get">
            <div class="search_box">
                <input type="text" name="title" class="search_int" placeholder="제목을 입력해주세요">
                <button type="submit" class="search_btn"></button>
            </div>
        </form>
        <div class="search_list" th:if="${searchMovieList!=null}">
            <ul class="search_ul" th:if="${searchMovieList.size()>0}">
                <li th:each="movie : ${searchMovieList}">
                    <div>
                        <a th:href="@{/movie/detail(mvid=${movie.getMovieId()})}">
                            <img class="search_movieBox_img" th:src="@{https://image.tmdb.org/t/p/original/__${movie.getPosterPath()}__}" th:alt="${movie.title}">
                        </a>
                        <div class="search_title_box">
                            <strong class="movieTitle"><a th:href="@{/movie/detail(mvid=${movie.getMovieId()})}" th:text="${movie.getTitle()}"></a></strong><br>
                            <span>평점 : <a th:text="${#numbers.formatDecimal(movie.grade,1,1)}"></a></span>
                        </div>
                    </div>
                </li>
            </ul>
            <div th:if="${searchMovieList.size()==0}">
                검색 결과가 없습니다
            </div>
        </div>
    </div>
</section>
</body>
</html>