<!DOCTYPE html>
<html th:replace="~{view/layout/base :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mini 시네마</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/cinema.css">
</head>
<body>
<section>
    <div class="search_container">
        <div>
            <label class="search_box" for="search_input">
                <input type="text" id="search_input" class="search_int" placeholder="제목을 입력해주세요">
                <button type="button" class="search_btn">
                </button>
            </label>
        </div>
        <div class="search_list">
            <ul class="search_ul">
                <li>
                    <div>
                        <img class="search_movieBox_img" th:src="@{/image/test.jpeg}" alt="test">
                        <div class="search_title_box">
                            <strong class="movieTitle" th:text="test"></strong><br>
                            <span>평점 : <a th:text="0.0"></a></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
</body>
</html>