<!DOCTYPE html>
<html th:replace="~{view/layout/base :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>비밀번호 변경</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/cinema.css">
</head>
<body>
    <section>
        <div class="pw_update_container">
            <div class="pw_update_content">
                <div>
                    <h2>비밀번호 변경</h2>
                    <p>안전한 비밀번호를 사용하는것을 권장합니다</p>
                    <p>사용하던 비밀번호와 달라야합니다</p>
                </div>
                <div class="pw_update_inputwrap">
                    <form>
                        <div>
                            <span class="join_box">
                                <input type="password" class="join_int" placeholder="현재 비밀번호" maxlength="20">
                            </span>
                        </div>
                        <div class="pw_update_new">
                            <span class="join_box" style="border-bottom: none">
                                <input type="password" class="join_int" placeholder="새 비밀번호" maxlength="20">
                            </span>
                            <span class="join_box">
                                <input type="password" class="join_int" placeholder="새 비밀번호 확인" maxlength="20">
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>